<h1>new page </h1>

<%= form_for @article do |iter| %>

<p><%= iter.label :title %>: <%= iter.text_field :title %></p>
<p><%= iter.label :body %> : <%= iter.text_area :body %></p>
<p><%= iter.submit "Add Article" %></p>

<% end %>

















